<div class="container">
 <div class="row">
   <div class="col-md-6 col-md-offset-3 text-center">
     <div class="logo">
     </div>
     <h1>COMING SOON</h1>
     <p>公開までしばらくお待ちください</p>
     <a href="#"><img src="twitter_w.png"></a>
     <a href="#"><img src="instagram_w.png"></a>
   </div>
 </div>
</div>
