<header>
	<a href="/" class="header-left">
    <img src="assets/logo.png">
  </a>
  <div class="header-right">
    <ul>
      <li><a href="#" class="header-tab">HOME</a></li>
      <li><a href="#" class="header-tab">LUNCH</a></li>
      <li><a href="#" class="header-tab">DINNER</a></li>
      <li><a href="#" class="header-tab">COUSE</a></li>
      <li><a href="#" class="header-tab">PARTY</a></li>
      <li><a href="#" class="header-tab">WEDDING</a></li>
      <li><a href="#" class="header-tab">ACESS</a></li>
      <li><a href="#" class="header-tab">LINK</a></li>
      <li>
        <a href="https://twitter.com/FK_italian"><img src="assets/twitter.png"></a>
      </li>
      <li>
        <a href="https://www.instagram.com/forest_kitchen_yamada/"><img src="assets/instagram.png"></a>
      </li>
    </ul>
  </div>
</header>


<div class="top-wrapper">
  <img src="assets/mainimage.jpg">
  <ul>
    <li><img src="assets/slidebutton_y.png"></li>
    <li><img src="assets/slidebutton_g.png"></li>
    <li><img src="assets/slidebutton_g.png"></li>
  </ul>
</div>


<div class="content-wrapper">
  <h1>FORESTKITCHEN</h1>
  <p>森の中にあるレストランをイメージ。<br />
    住宅街に現れた生パスタやピザが食べられる本格イタリアンでありながら、<br />
    ボリューム満点のお肉も堪能できる「肉バルイタリアン」。<br />
    アウトドアやバーベキューに精通した、<br />
    「ハンモックカフェ＆ダイニングREVARTI」の系列店としてオープン！！<br />
    ２０１５年にオープンしてから話題を呼び、メディアにも幾度と取り上げられている<br />
    ハンモックカフェが本気でプロデュースした肉バルイタリアン「FOREST KITCHEN」。
  </p>
  <div class="main-image">
    <img src="assets/FK_top_1.jpg" class="main-image1">
    <img src="assets/FK_top_2.jpg" class="main-image2">
    <img src="assets/FK_top_3.jpg" class="main-image3">
    <img src="assets/FK_top_4.jpg" class="main-image4">
  </div>
</div>

<div class="detail-wrapper">
  <div class="title-bg-img">
    <h1>FEATURES</h1>
  </div>
  <div class="menu-image">
    <div class="menu-imge-tag">
      <img src="assets/pasta_pic.png">
      <div class="menu-detail">
        <img src="assets/FK_pasta.jpg">
      </div>
    </div>
    <div class="menu-imge-tag">
      <img src="assets/pizza_pic.png">
      <div class="menu-detail">
        <img src="assets/FK_pizza.jpg">
      </div>
    </div>
    <div class="menu-imge-tag">
      <img src="assets/vege_pic.png">
      <div class="menu-detail">
        <img src="assets/FK_vege.jpg">
      </div>
    </div>
    <div class="menu-imge-tag">
      <img src="assets/meat_pic.png">
      <div class="menu-detail">
        <img src="assets/FK_meat.jpg">
      </div>
    </div>
  </div>
</div>

<div class="acsess-wrapper">
  <div class="title-bg-img">
    <h1>ACSESS</h1>
  </div>
  <div class="google-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3277.0234252006576!2d135.46850825027943!3d34.78018558031796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000faca360a7311%3A0xd59b8385eeeebe94!2z44OI44Op44OD44OI44Oq44Ki44O744K144Or44O844OG!5e0!3m2!1sja!2sjp!4v1509802297160" width="800" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  <div class="shop-detail">
    <p>
      【住     所】 〒565-0824<br />
       <span class="address">大阪府吹田市山田西4-2-18　サンノープル山本105</span><br />
      【営業時間】 Lunch 11:00-15:00<br />
       <span class="dinner">Dinner　18:00-23:00</span><br />
      【定休日】 不定期<br />
      【電話番号】 06-7709-1190
    </p>
  </div>
</div>

<footer>
  <div class="to-top-bg">
    <a href="/">
      <img src="assets/footer/direction.png">
    </a>
  </div>
  <div class="footer-menu">
    <ul>
      <li class="footer-title">FOREST KITCHEN</li>
      <hr />
      <li>HOME</li>
      <li>LUNCH</li>
      <li>DINNER</li>
      <li>COUSE</li>
      <li>PARTY</li>
      <li>WEDDING</li>
      <li>ACSESS</li>
      <li>LINK</li>
    </ul>
  </div>
  <div class="copy-writing">
    <p>©2017 FOREST KITCHEN inc</p>
  </div>
</footer>
