<div class="container">
 <div class="row">
   <div class="col-md-6 col-md-offset-3 text-center">
     <div class="logo">
     </div>
     <a href="https://twitter.com/FK_italian?lang=ja"><img src="twitter_w.png"></a>
     <a href="https://www.instagram.com/forest_kitchen_yamada/"><img src="instagram_w.png"></a>
   </div>
 </div>
</div>
