@import "bootstrap-sprockets";
@import "bootstrap";


//pages index\

body {
  /* 画像ファイルの指定 */
  background-image:  url(backgraund.jpg);

  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;

  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;



  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;

  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #FF9E80;
}


.container .row{
  margin-top: 200px;
  color: #fff;
}



.container .row p{
  font-size: 25px;
}

.col-md-6 a{
  padding-left: 10px;
}
.col-md-6 a img{
  margin-top: 180px;
  margin-bottom: 30px;
}
